In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv("C:/Users/chait/Downloads/archive (2)/crypto-markets.csv")

In [3]:
df.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [4]:
x = df.drop(["slug","symbol","name","date","ranknow","volume","market","close_ratio","spread","close"],axis=1)
x.head()

     open    high     low
0  135.30  135.98  132.10
1  134.44  147.49  134.00
2  144.00  146.93  134.05
3  139.00  139.89  107.72
4  116.38  125.60   92.28

In [5]:
y = df.close
y.head()

0    134.21
1    144.54
2    139.00
3    116.99
4    105.21
Name: close, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y , test_size= 0.2 )

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [8]:
predict_y = model.predict(X_test)

In [9]:
predict_y

array([4.3046652 , 3.87476323, 3.92692406, ..., 3.88955712, 3.87392898,
       4.1770166 ])

In [10]:
from sklearn.metrics import mean_squared_error
import math
print(mean_squared_error(y_test, predict_y))
print(math.sqrt(mean_squared_error(y_test, predict_y)))

5452100.928104046
2334.9734319910463